.hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .name,
  .info {
    overflow: hidden;
  }

  h2 {
    font-size: 2rem;
  }

  h2,
  h3 {
    margin-top: 1rem;
    font-family: Raleway;
    animation: floatUp 1s ease-in-out forwards;
    transform: translateY(300%);
    animation-delay: 1.5s;
    letter-spacing: 2px;
  }
  h1 {
    font-family: "Yellowtail", cursive;
    letter-spacing: 5px;
    font-size: rem(102px);
    animation: floatUp 1.5s ease-in-out forwards;
    transform: translateY(150%);
    animation-delay: 0.5s;
    @media (max-width: 600px) {
      font-size: rem(70px);
    }
  }
}

@keyframes floatUp {
  100% {
    transform: translateY(0%);
  }
}
